body{
  background-color: #041b4b;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
}


.Hero-section{
  display: flex;
  justify-content: space-between;   
  align-items: center;              
  padding: 60px 10%; 
  padding-bottom: 90px;

}

.name h1{
  font-size: 90px;
  margin: 0;
  color: white;
}

.name h2{
  font-size:40px ;
  color: #0992C2;
  margin-bottom: 10px;
}

.name p{
  font-size:20px ;
  color:#0992C2;
}

.name {
    max-width: 500px;
}



.image img {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
  margin-top: 40px;
}

nav {
  background-color: #041b4b;
  padding: 40px 0; /* vertical padding */
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 5px;
  border-radius: 20px;
  font-size: 18px;
}

nav a:hover {
  color: #3842f8;
  background-color: white;
  opacity: 0.5;
  padding: 5px;
}

nav ul {
  display: flex;
  justify-content: center; /* centers all li horizontally */
  gap: 80px; /* space between links */
  list-style: none;
  margin: 0;
  padding: 0;
}

.buttons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-btn {
  padding: 12px 28px;
  background-color: #0992C2;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.3s ease;
}

.contact-btn:hover {
  background-color: #0679a1;
}

/* Social Circular Buttons */
.social-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.social-btn:hover {
  background-color: white;
  color: #0a1f44; /* your navy */
}


/*ABOUT*/
.about {
  padding: 120px 160px;
  background-color: #061f5c;
  color: white;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 80px;
  justify-content: center;
}

.about-image img {
  width: 370px;
  height: 420px;
  border-radius: 10%;
  object-fit: cover;
  border: none;
  transform: translateY(30px);
}
.about-content {
  max-width: 700px;
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(8px);
}

.about-content h2 {
  font-size: 48px;
  margin-bottom: 25px;
  letter-spacing: 2px;
  color: #0992C2;
}

.about-content p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 18px;
}


/*Skills*/

.skills {
  padding: 120px 160px;
  background-color:  #041b4b;
  color: white;
  text-align: center;
  padding-top: 80px;
}

.skills-heading {
  font-size: 48px;
  margin-bottom: 60px;
  letter-spacing: 3px;
  color: #0992C2;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 40px;
}

.skill-card {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  height: 120px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.skill-card img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-8px);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 146, 194, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  font-size: 18px;
}

.skill-card:hover .overlay {
  transform: translateY(0);
}



/*Projects*/
.projects {
  padding: 120px 160px;
  background-color: #061f5c;
  color: white;
  text-align: center;
}

.projects-heading {
  font-size: 48px;
  margin-bottom: 40px;
  letter-spacing: 3px;
  color: #0992C2;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
}

.project-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform 0.3s ease;
}

.project-content {
  flex-grow: 1;
}
.project-card:hover {
  transform: translateY(-10px);
}

.project-card h3 {
  font-size: 25px;
  margin-bottom: 8px;
  color: #F6E7BC
}

.project-card p {
  line-height: 1.7;
  font-size: 16px;
  margin-bottom: 25px;
}

.project-btn {
  margin-top: 15px;
  padding: 8px 18px;
  border: 2px solid #0992C2;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s ease;
}

.project-btn:hover {
  background-color: #0992C2;
}

@media (max-width: 992px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

/*Footer*/
.footer {
  color: white;
  margin-top: 60px;
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  opacity: 0.8;
}

.footer-inner a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease;
}

.footer-inner a:hover {
  opacity: 0.6;
}

.divider {
  opacity: 0.5;
}