body{
  background-color: #041b4b;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.Hero-section{
  display: flex;
  justify-content: space-between;   
  align-items: center;              
  padding: 60px 10%; 

}

.name h1{
  font-size: 90px;
  margin: 0;
  color: white;
}

.name h2{
  font-size:40px ;
  color: #0992C2;
  margin-bottom: 10px;
}

.name p{
  font-size:20px ;
  color:#0992C2;
}

.name {
    max-width: 500px;
}



.image img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
  margin-top: 40px;
}

nav {
  background-color: #041b4b;
  padding: 20px 0; /* vertical padding */
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 5px;
  border-radius: 20px;
}

nav a:hover {
  color: #3842f8;
  background-color: white;
  opacity: 0.5;
  padding: 5px;
}

nav ul {
  display: flex;
  justify-content: center; /* centers all li horizontally */
  gap: 80px; /* space between links */
  list-style: none;
  margin: 0;
  padding: 0;
}

.buttons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-btn {
  padding: 12px 28px;
  background-color: #0992C2;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.3s ease;
}

.contact-btn:hover {
  background-color: #0679a1;
}

/* Social Circular Buttons */
.social-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.social-btn:hover {
  background-color: white;
  color: #0a1f44; /* your navy */
}